<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/common::header"></head>
<style>

    .el-tag {
        background-color: #ecf5ff;
        display: inline-block;
        height: 32px;
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
        color: #409eff;
        border: 1px solid #d9ecff;
        border-radius: 4px;
        box-sizing: border-box;
        white-space: nowrap;
    }
    .el-tag.el-tag--success {
        background-color: #f0f9eb;
        border-color: #e1f3d8;
        color: #67c23a;
    }
    .el-tag.el-tag--info {
        background-color: #f4f4f5;
        border-color: #e9e9eb;
        color: #909399;
    }
    .el-tag.el-tag--warning {
        background-color: #fdf6ec;
        border-color: #faecd8;
        color: #e6a23c;
    }
    .el-tag.el-tag--danger {
        background-color: #fef0f0;
        border-color: #fde2e2;
        color: #f56c6c;
    }
</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="admin/fragment/common::top"></div>
    <div th:replace="admin/fragment/common::left"></div>

    <div class="layui-body" style="padding: 20px; background-color: #F2F2F2;">
        <span class="layui-breadcrumb">
        <a href="/admin/index">首页</a>
        <a><cite>博客管理</cite></a>
        </span>
        <div class="layui-content">
            <div class="layui-card" style="border-radius: 5px">

                <div class="layui-card-body">
                    <form class="layui-form" action="">

                        <div class="layui-form-item">
                            <label class="layui-form-label">发布日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                        <label class="layui-form-label">发布日期</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test6"
                                   placeholder="                  - ">
                        </div>
                        <div class="layui-input-inline">
                            <select name="categoriesId">
                                <option value=""></option>
                                <option th:each="categories,index:${categoriesList}" th:value="${categories.id}" >[[${categories.name}]]</option>
                            </select>
                        </div>


                        <div class="layui-input-inline" style="width:120px">
                            <input type="text" name="articleName" id="articleName" placeholder="关键字" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius"
                                    lay-submit="" lay-filter="add"><i class="layui-icon">&#xe615;</i>搜索</button>

                        </div>
                        <div class="layui-input-inline">
                            <button class="layui-btn layui-btn-sm layui-btn-warm layui-btn-radius"
                                    lay-submit="" lay-filter="add"><i class="layui-icon">&#xe666;</i>重置</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="layui-hide" id="admin_articles" lay-filter="admin_articles_filter"></table>
        </div>
    </div>

</div>



<script type="text/html" id="operate_bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" alt="删除" lay-event="del"><i class="iconfont icon-shanchu"></i></a>
    <a class="layui-btn layui-btn-xs" alt="编辑" lay-event="edit"><i class="iconfont icon-bianji"></i></a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" alt="预览" lay-event="show" target="_blank"><i class="iconfont icon-yanjing"></i></a>
</script>




<script th:inline="none">

    $(function(){
        $('#adminarticle').addClass('active');
    });

    layui.use(['table','form','layer','laydate'], function(){
        let table = layui.table;
        const form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;

        laydate.render({
            elem: '#startDate'
        });

        //日期范围
        laydate.render({
            elem: '#test6'
            ,range: true
        });
        const tableIns = table.render({
            elem: '#admin_articles',
            url:'/admin/article/getArticleVOList',
            title: '博客列表',
            cellMinWidth: 60,

            done: function (res, curr, count) {
                layui.each($('tbody select'), function (index, item) {
                    let elem = $(item);
                    elem.val(elem.data('value')).parents('div.layui-table-cell').css('overflow', 'visible');
                });
                form.render();
            },
            size: 'lg',
            page: {
                'limit':15,
                'limits':[15, 20, 30, 40, 50]
            },
            cols: [[
                {align:'center', title: '序号', type:'numbers',width:80},

                {field:'articleTitle', title:'标题', edit: 'text',unresize: true,align: 'center'},
                {templet: '<div>{{d.categories.name}}</div>',title:'分类', align: 'center'},
                {field:'privacy', width:110,title:'博客类型',align: 'center'},
                {field:'draft', width:130,title:'发布状态', unresize: true,align: 'center'},
                {field:'createDate', width:150,title:'创建时间', align: 'center',sort: true,},
                {title:'操作', width:150, toolbar: '#operate_bar',align: 'center'}
            ]],
            done: function(res, curr, count){
                $("[data-field='privacy']").children().each(function(){
                    if($(this).text()=='0'){
                        $(this).html("<div class='el-tag el-tag--success  el-tag--light'>公开</div>");
                    }else if($(this).text()=='1'){
                        $(this).html("<div class='el-tag el-tag--danger  el-tag--light'>私密</div>");
                    }
                });

                $("[data-field='draft']").children().each(function(){
                    if($(this).text()=='0'){
                        $(this).html("<div class='el-tag el-tag--success  el-tag--light'>已发布</div>");
                    }else if($(this).text()=='1'){
                        $(this).html("<div class='el-tag el-tag--warning  el-tag--light'>草稿</div>");
                    }
                });
            }
        });

        //监听单元格编辑
        table.on('edit(admin_tags_filter)', function(obj){

            $.post("/admin/tags/save",obj.data,function(e){
                layer.msg(e.msg);
                tableIns.reload();
            })
        });

        table.on('sort(test)', function(obj) {
            table.reload('tableId', {
                initSort: obj
            });
        });

        //监听行工具事件
        table.on('tool(admin_articles_filter)', function(obj){
            let data = obj.data;
            if(obj.event === 'del'){

                layer.confirm('真的删除行么', function(index){
                    $.post("/admin/article/delete/"+data.id,{},function(e){
                        layer.msg(e.msg);
                        if(e.code == 0){

                            tableIns.reload();
                            layer.close(index);
                        }

                    })
                });

            }else if(obj.event === 'edit'){
                window.location.href="editor/"+obj.data.id;
            }else if(obj.event === 'show'){
                window.open('_blank').location.href="/article/"+obj.data.id;
            }
        });

        //监听表单提交事件
        form.on('submit(add)', function(data){
            $.post("/admin/tags/save",data.field,function(e){
                layer.msg(e.msg);
                if(e.code == 0){
                    tableIns.reload({});
                    $("#form_tags")[0].reset();
                }

            })
            return false;
        });

    });

</script>
</body>
</html>
