<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/admin/css/x-admin.css}">
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>

    <style>

        .layui-btn-lg {

            padding: 0 5px 0 25px;

        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="admin/fragment/menu::header"></div>
    <div th:replace="admin/fragment/menu::left"></div>





    <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true" style="left: 200px;border-left: solid 2px #2299ee;">

        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>分类管理</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
        <div class="x-body">
            <form class="layui-form x-center" action="" style="width:50%">
                <div class="layui-form-pane" style="margin-top: 15px;">
                    <div class="layui-form-item">

                        <div class="layui-input-inline" style="width:120px">
                            <input type="text" name="name"  placeholder="分类名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline" style="width:120px">
                            <input type="text" name="name"  placeholder="分类名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline" style="width:80px">
                            <button class="layui-btn"  lay-submit="" lay-filter="add"><i class="layui-icon">&#xe608;</i>增加</button>
                        </div>
                    </div>
                </div>

            </form>
            <xblock><button class="layui-btn layui-btn-danger " onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除</button><span class="x-right" style="line-height:40px">共有数据：88 条</span></xblock>


            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>
    </div>




</div>
<div th:replace="admin/fragment/common::add_permission"></div>
<div th:replace="admin/fragment/common::set_role"></div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
</script>



<script th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/admin/js/x-layui.js}"></script>
<script th:src="@{/admin/js/x-admin.js}"></script>
<script th:src="@{/js/jquery-2.0.3.min.js}"></script>
<script th:inline="none">

    $("#admincategories").addClass('layui-this');
    layui.use(['table','form','layer'], function(){
        let table = layui.table;
        let form = layui.form;
        let layer = layui.layer;


        let tableIns = table.render({
            elem: '#test',
            //data: data,
            url:'/admin/categories/getAll',
            toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
            defaultToolbar: ['filter'],
            title: '权限表',
            cellMinWidth: 80,
            cols: [[
                {type: 'checkbox', fixed: 'left'},
                {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
                {field:'text', title:'分类名称',  edit: 'text'},
                {title:'操作', toolbar: '#barDemo', width:150}
            ]],
            page: true
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            let checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));

                    break;
                case 'getCheckLength':
                    banner_add('添加用户',$("#set_role"),'600','500');
                    break;
                case 'setRole':
                    setRole('授权',$("#set_role"),'500','400',checkStatus.data);
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;

            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    console.log(obj);
                    $.post("/admin/permission/delete/"+obj.data.id,{},function(){
                        tableIns.reload({
                            where: {},
                            page: {curr: 1 }
                        });
                        layer.close(index);

                    })

                });
            } else if(obj.event === 'edit'){
                layer.prompt(
                    {
                        formType: 2 ,value: data.email
                    }, function(value, index){
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
            }
        });



        //监听提交
        form.on('submit(add)', function(data){
            console.log(data.field);
            $.post("/admin/permission/insert",data.field,function(index){

                layer.msg('新增成功');
                x_admin_close();
                tableIns.reload({
                    where: {},
                    page: {curr: 1 }
                });
            })

            return false;
        });

        //监听单元格编辑
        table.on('edit(test)', function(obj){
            let value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
        });






    });




</script>
</body>
</html>