<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/common::header"></head>
<link rel="stylesheet" th:href="@{/admin/layui/css/view.css}"  media="all">
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div th:replace="admin/fragment/common::top"></div>
    <div th:replace="admin/fragment/common::left"></div>
    <div class="layui-body">
        <div class="layui-content">
            <div class="layui-row layui-col-space20">
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>发表文章</span>
                                    </div>
                                    <div class="total">126,560</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>总用户数</span>
                                    </div>
                                    <div class="total">126,560</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>总用户数</span>
                                    </div>
                                    <div class="total">126,560</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-body chart-card">
                            <div class="chart-header">
                                <div class="metawrap">
                                    <div class="meta">
                                        <span>总用户数</span>
                                    </div>
                                    <div class="total">126,560</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-form">
                <table class="layui-table" lay-data="{height:305, url:'/demo/table/user/', page:true, id:'test2', skin: 'row', even: true}">
                    <thead>
                    <tr>
                        <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                        <th lay-data="{field:'username', width:80, templet: '#usernameTpl'}">用户名</th>
                        <th lay-data="{field:'sex', width:80, sort: true, templet: '#sexTpl'}">性别</th>
                        <th lay-data="{field:'city', width:80}">城市</th>
                        <th lay-data="{field:'sign'}">签名</th>
                        <th lay-data="{field:'experience', width:80, sort: true, style:'background-color: #eee;'}">积分</th>
                        <th lay-data="{field:'score', width:80, sort: true}">评分</th>
                        <th lay-data="{field:'classify', width:80, style:'background-color: #009688; color: #fff;'}">职业</th>
                        <th lay-data="{field:'wealth', width:135, sort: true}">财富</th>
                    </tr>
                    </thead>
                </table>
            </div>

        </div>

    </div>
</div>

<script>
    $(function(){
        $('#adminindex').addClass('active');
    });
</script>

</body>
</html>
