<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/common::header"></head>
<link th:href="@{/admin/mdeditor/css/editormd.css}" rel="stylesheet">
<script th:src="@{/admin/mdeditor/js/editormd.min.js}"></script>
<style>

    .tag__name {
        margin-right: 8px;
        padding: 5px;
        font-size: 14px;
        height: 28px;
        background: rgba(38,125,204,.05);
        border-radius: 4px;
        border: 1px solid rgba(38,125,204,.2);
    }
</style>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <div th:replace="admin/fragment/common::top"></div>
        <div th:replace="admin/fragment/common::left"></div>

        <div class="layui-body" >
            <div class="layui-content">

                <form class="layui-form" action="">

                    <div class="layui-form-item">
                        <div id="">
                            <input name="id" type="hidden" placeholder="博客id">
                            <input name="articleTitle" type="text" class="layui-input"
                                   lay-verify="required" lay-reqtext="文章内容是必填项，岂能为空？" placeholder="请输入标题"></input>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div id="editor-md">
                            <textarea id="articleContent" name="articleContent" lay-verify="required" lay-reqtext="文章内容是必填项，岂能为空？"  style="display:none;"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">

                        <label class="layui-form-label">文章分类</label>
                        <div class="layui-input-inline">
                            <select name="categoriesId" lay-reqtext="分类必填项，岂能为空？">
                                <option value=""></option>
                                <option th:each="categories,index:${categoriesList}" th:value="${categories.id}" >[[${categories.name}]]</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">

                            <button type="button" class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon">&#xe654;</i>流体按钮（最大化适应）</button>
                        </div>
                    </div>

                    <!-- 发布形式 -->
                    <div class="layui-form-item" style="margin-bottom: 5px">

                        <label class="layui-form-label">文章标签</label>
                        <div class="layui-input-block">
                            <span contenteditable="false" class="tag__name">
                                设计模式
                                <i class="layui-icon ">&#x1006;</i>
                            </span>
                            <button type="button" class="layui-btn layui-btn-radius layui-btn-primary"><i class="layui-icon">&#xe654;</i>流体按钮（最大化适应）</button>
                        </div>
                    </div>
                    <!-- 发布形式 -->
                    <div class="layui-form-item">

                        <label class="layui-form-label"></label>
                        <div class="layui-input-block" >
                            <input type="checkbox" th:each="tags,index:${tagsList}" th:title="${tags.name}" name="tags" th:value="${tags.id}" lay-skin="primary">
                        </div>
                    </div>



                    <!-- 发布形式 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">发布形式</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="like[write]" title="置顶">
                            <input type="checkbox" name="like[read]" title="私密" checked>
                            <input type="checkbox" name="like[dai]" title="发呆">
                        </div>
                    </div>
                    <!-- 按钮 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save">立即提交</button>
                            <button type="button" class="layui-btn layui-btn-warm" lay-submit="" lay-filter="draft">保存草稿</button>
                            <button type="button" class="layui-btn layui-btn-danger" lay-submit="" lay-filter="demo1">返回列表</button>

                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</body>


<script th:inline="javascript">

    //获取博客
    let articleVO = [[${articleVO}]];

    $(function() {
        //定义markdown编辑器
        let md_edit = editormd("editor-md",
            //注意1：这里的就是上面的DIV的id属性值
            {width : "100%",
            height : $(window).height()*(0.8),
            syncScrolling : "single",
            path : "../admin/mdeditor/lib/",//注意2：你的路径
            emoji : true,
            saveHTMLToTextarea : true,//注意3：这个配置，方便post提交表单
            /* 上传图片配置 */
            imageUpload : true,
            /*imageFormats : [ "jpg", "jpeg", "gif", "png", "bmp", "webp" ],*/
            imageUploadURL : "/upload2", //注意你后端的上传图片服务地址
            onload: function() {
                // 引入插件 执行监听方法
                editormd.loadPlugin("../admin/mdeditor/plugins/image-dialog/image-handle-paste", function(){
                    md_edit.imagePaste();
                });
            }
        });

        if(articleVO != null){
            $("input[name='id']").val(articleVO['id']);
            $("#articleContent").html(articleVO['articleContent']);
            $(".editormd-html-textarea").html(articleVO['articleHtmlContent']);
        }

        layui.use(['form'], function(){

            let form = layui.form;

            //监听提交
            form.on('submit(save)', function(data){
                let params = {};

                let field = data.field;
                field['isDraft'] = 0;
                field['articleHtmlContent'] = field['editor-md-html-code'];
                //params['article'] = field;
                let tagsList = [];
                $("input:checkbox[name='tags']:checked").each(function (e) {
                    let tags = {'id':$(this).val(),'name':$(this).attr("title")};
                    tagsList.push(tags);
                });
                field['tagsList'] = tagsList;

                save(field);
                return false;
            });


            form.on('submit(draft)', function(data){
                let field = data.field;
                field['isDraft'] = 1;

                return;
                save(field);
                return false;
            });
            form.on('checkbox(tagsList)', function(data){

                let othis = (data.othis)[0];
                let elem = data.elem;
                if($(othis).parent('#article_tags_checked').length == 1){
                    $(othis).removeClass();
                    $(othis).addClass('layui-unselect layui-form-checkbox layui-form');
                    $("#article_tags_all").append(elem);
                    $("#article_tags_all").append(othis);
                }else{
                    if($("#article_labels_checked").children().length == 5){
                        layer.msg("最多只能选5个标签");
                    }else{
                        $(othis).removeClass();
                        $(othis).addClass('layui-unselect layui-form-checkbox layui-form-checked');
                        $("#article_labels_checked").append(elem);
                        $("#article_labels_checked").append(othis);
                    }
                }
            });
        });


        function save(e){
            let data = JSON.stringify(e)
            //$.post('/admin/article/save',data).done(alert(1));

            ajax_post('/admin/article/save',data,function(e){
                if(e.code == 0){
                    layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
                        time: 20000, //20s后自动关闭
                        btn: ['明白了', '知道了', '哦']
                    });
                }
            })

        }


        //打开新增框
        $(".open_button").on("click",function(e){

            $(this).parents('.layui-inline').removeClass("close_add_model");

        })

        //关闭新增框
        $(".close_button").on("click",function(e){

            $(this).parents('.layui-inline').addClass("close_add_model");

        })

        //新增分类
        $(".submit_categories_button").on("click",function(e){
            let categoriesName = $("input[name='categoriesName']").val();
            if(categoriesName == '' || categoriesName == undefined){
                layer.msg("分类名称不能为空！！！");
                return;
            }else{
                $.post('/admin/categories/add',{'name':categoriesName},function (data) {
                    if(data.code == 1){
                        layer.msg("该分类已存在！！！");
                    }else{

                        $("#md_editor_categories").html(data);
                        $("#article_categories").addClass("close_add_model");
                        layui.use('form', function() {
                            let form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                            form.render();
                        });
                        //选中最后新增的分类
                        $($(".layui-form-select dl").children(":last-child")).click();
                    }
                });
            }

        });

        $(".submit_tags_button").on("click",function(e){

            if($("#article_labels_checked").find("input").length == 5){
                layer.msg("最多只能选5个标签");
                return;
            }
            let tagsName = $("input[name='tagsName']").val();

            if(tagsName == '' || tagsName == undefined){
                layer.msg("分类名称不能为空！！！");
                return;
            }else{
                const checkedTags = [];
                $($("#article_labels_checked").find("input")).each(function(){
                    checkedTags.push(this.value);
                });

                let param = {'name':tagsName,'checkedTags':checkedTags};

                $.post('/admin/tags/add',param,function (data) {

                    $("#article_tags_all").html(data);
                    $("#article_tags").addClass("close_add_model");

                    layui.use('form', function() {
                        let form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
                        form.render();
                    });
                    //选中最后新增的分类
                    $($("#article_tags_all").children(":last-child")).click();
                    let tags = $("#article_tags_all").children("input");

                })
            }

        });

    });


    function ajax_post(url,data,success){
        $.ajax({
            method:'post',
            contentType:'application/json',
            url:url,
            data:data,
            success:success
        })

    }
</script>

</html>