<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/common::header"></head>
<style>
    .text-center {
        text-align: center;
    }
</style>
<link rel="stylesheet" th:href="@{/css/userInfo.css}" media="all">
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <div th:replace="admin/fragment/common::top"></div>
        <div th:replace="admin/fragment/common::left"></div>

        <div class="layui-body">
            <!-- 正文开始 -->
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <!-- 左 -->
                    <div class="layui-col-sm12 layui-col-md3">
                        <div class="layui-card">
                            <div class="layui-card-body" style="padding: 25px;">
                                <div class="text-center layui-text">
                                    <div class="user-info-head" id="imgHead">
                                        <!--<img id="avatarPreview" th:src="${session.user.avatar}"/>-->
                                        <img id="avatarPreview" src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/medias/avatar.jpg"/>
                                    </div>

                                    <h2 style="padding-top: 20px;">[[${session.user.name}]]</h2>
                                    <p style="padding-top: 8px;">[[${session.user.role.name}]]</p>
                                </div>
                                <div class="layui-text" style="padding-top: 30px;">
                                    <div class="info-list-item">
                                        <i class="layui-icon layui-icon-notice"></i>
                                        <p>[[${session.user.email}]]</p>
                                    </div>

                                    <div class="info-list-item">
                                        <i class="layui-icon layui-icon-cellphone"></i>
                                        <p>[[${session.user.phoneNum}]]</p>
                                    </div>
                                    <div class="info-list-item">
                                        <i class="layui-icon layui-icon-location"></i>
                                        <p>[[${session.user.address}]]</p>
                                    </div>
                                </div>
                                <div class="dash"></div>
                                <h3>标签</h3>
                                <div class="layui-badge-list" style="padding-top: 6px;">
                                    <span class="layui-badge layui-bg-gray">Guns</span>
                                    <span class="layui-badge layui-bg-gray">Roses</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 右 -->
                    <div class="layui-col-sm12 layui-col-md9">
                        <div class="layui-card">
                            <div class="layui-card-body layui-text">

                                <div class="layui-tab layui-tab-brief" lay-filter="userInfoTab">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this">基本信息</li>
                                        <li>修改密码</li>
                                        <li>其他</li>
                                    </ul>
                                    <div class="layui-tab-content">
                                        <div class="layui-form layui-tab-item layui-show" lay-filter="userInfoForm">
                                            <input type="hidden" name="id" th:value="${session.user.id}"/>
                                            <div class="layui-form user-info-form" style="max-width: 400px;padding-top: 25px;">
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">账号</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="account" th:value="${session.user.userName}" class="layui-input layui-disabled" lay-verify="required" disabled/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">性别</label>
                                                    <div class="layui-input-block">
                                                        <input type="radio" name="sex" value="1" title="男" checked="">
                                                        <input type="radio" name="sex" value="2" title="女">
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">邮箱<span style="color: red;">*</span></label>
                                                    <div class="layui-input-block">
                                                        <input type="email" name="email" class="layui-input" lay-verify="required|email" required/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">姓名<span style="color: red;">*</span></label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="name" class="layui-input" lay-verify="required" required/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">生日</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" id="birthday" name="birthday" class="layui-input"/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">电话</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="phone" class="layui-input"/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button class="layui-btn" lay-filter="userInfoSubmit" lay-submit>
                                                            更新基本信息
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--另一个标签-->
                                        <div class="layui-tab-item" style="padding: 6px 25px 30px 25px;">
                                            <div class="layui-form user-info-form" style="max-width: 400px;padding-top: 25px;">
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">旧密码</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="phone" class="layui-input" lay-verify="required|userName"/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">新密码</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="password" class="layui-input" lay-verify="required|pass"/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <label class="layui-form-label">确认密码</label>
                                                    <div class="layui-input-block">
                                                        <input type="text" name="confirmPassword" class="layui-input" lay-verify="required|pass"/>
                                                    </div>
                                                </div>
                                                <div class="layui-form-item">
                                                    <div class="layui-input-block">
                                                        <button class="layui-btn" lay-filter="updatePassword" lay-submit>
                                                            更新密码
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--另一个标签-->
                                        <div class="layui-tab-item" style="padding: 6px 25px 30px 25px;">
                                            <div class="bd-list">
                                                <div class="bd-list-item">
                                                    <div class="bd-list-item-content">
                                                        <div class="bd-list-item-lable">密保手机</div>
                                                        <div class="bd-list-item-text">已绑定手机：173****0000</div>
                                                    </div>
                                                    <a class="bd-list-item-oper">修改</a>
                                                </div>
                                                <div class="bd-list-item">
                                                    <div class="bd-list-item-content">
                                                        <div class="bd-list-item-lable">密保邮箱</div>
                                                        <div class="bd-list-item-text">已绑定邮箱：1130***36.com</div>
                                                    </div>
                                                    <a class="bd-list-item-oper">修改</a>
                                                </div>
                                                <div class="bd-list-item">
                                                    <div class="bd-list-item-img">
                                                        <i class="layui-icon layui-icon-login-qq"
                                                           style="color: #3492ED;font-size: 48px;"></i>
                                                    </div>
                                                    <div class="bd-list-item-content">
                                                        <div class="bd-list-item-lable">绑定QQ</div>
                                                        <div class="bd-list-item-text">当前未绑定QQ账号</div>
                                                    </div>
                                                    <a class="bd-list-item-oper">绑定</a>
                                                </div>
                                                <div class="bd-list-item">
                                                    <div class="bd-list-item-img">
                                                        <i class="layui-icon layui-icon-login-wechat"
                                                           style="color: #4DAF29;font-size: 48px;"></i>
                                                    </div>
                                                    <div class="bd-list-item-content">
                                                        <div class="bd-list-item-lable">绑定微信</div>
                                                        <div class="bd-list-item-text">当前未绑定绑定微信账号</div>
                                                    </div>
                                                    <a class="bd-list-item-oper">绑定</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
</script>


    <script>
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element','form'] ,function(){
            let element = layui.element,form = layui.form;

            form.verify({
                userName: function(value){
                    let flag = false;

                    $.ajax({
                        url:"/admin/user/verifyPassword",
                        async: false,
                        type: 'post',
                        data:{'id': $("input[name='id']").val(), 'password': value},
                        success: function(e) {
                            flag = e.data;
                        }
                    })

                    if(!flag){
                        return "修改失败，原密码不正确！！！";
                    }

                },
                pass: [/^[\S]{6,12}$/,'密码必须6到12位，且不能出现空格'],


                content: function(value){
                    layedit.sync(editIndex);
                }
            });

            //监听提交
            form.on('submit(updatePassword)', function(data){
                console.log(data);
                $.post('/admin/user/update',{'id': $("input[name='id']").val(), 'password': data.field.password},function (e) {

                });
                return false;
            });


        });

    </script>
    </script>
</body>
</html>