<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/common::header"></head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">

    <div th:replace="admin/fragment/common::top"></div>
    <div th:replace="admin/fragment/common::left"></div>

    <div class="layui-body">

        <div class="layui-tab-content site-demo site-demo-body">

            <h2>角色管理</h2>
            <div class="layui-tab-item layui-show">
                <table class="layui-hide" id="admin_role" lay-filter="admin_role_filter"></table>
            </div>
        </div>
    </div>

</div>

<!-- 授权模块 -->
<div th:replace="admin/fragment/model::model_set_permission"></div>



<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="setRole"><i class="iconfont icon-quanxianguanli"></i></a>
</script>


<script th:inline="none">

    layui.use(['table','form','layer','tree'], function(){
        let table = layui.table;
        let form = layui.form;
        let layer = layui.layer;
        let tree = layui.tree;

        let tableIns = table.render({
            elem: '#admin_role',
            url:'/admin/role/getAll',
            defaultToolbar: ['filter'],
            title: '权限表',
            cellMinWidth: 80,
            cols: [[
                {field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true},
                {field:'roleName', title:'角色'},
                {field:'name', title:'角色名称'},
                {field:'description', title:'描述'},
                {title:'操作', toolbar: '#barDemo', width:150}
            ]]
        });


        //监听行工具事件
        table.on('tool(admin_role_filter)', function(obj){
            const data = obj.data;
            if(obj.event === 'setRole'){
                openSetPermissionModel(data);
            }
        });

        function openSetPermissionModel(data){

            $.post('/admin/permission/getPermissionTree/'+data.id,function(e){
                tree.render({
                    elem: '#permission_tree',
                    data: e,
                    showCheckbox: true,  //是否显示复选框
                    id: 'permissionTree',
                    isJump: true, //是否允许点击节点时弹出新窗口跳转
                    click: function(obj){
                        var data = obj.data;  //获取当前点击的节点数据
                        layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                });
                $("input[name='id']").val(data.id);
                layer.open({
                    type: 1,
                    area: ['350px', '450px'],
                    fix: false, //不固定
                    shadeClose: true,
                    shade: 0.4,
                    title: "分配权限",
                    content: $('#model_set_permission')
                });
            })

        }

        //监听提交
        form.on('submit(save)', function(data){
            //获取选中节点的数据
            let checkedData = tree.getChecked('permissionTree');
            //获取授权角色id
            let roleId = $("input[name='id']").val();
            let permissions = [];

            for(let i=0;i<checkedData.length;i++){
                permissions.push(checkedData[i].id);
                let children = checkedData[i].children;
                console.log(children)
                if(children != null && children.length >0){
                    for(let j=0;j<children.length;j++){
                        permissions.push(children[j].id)
                    }
                }
            }

            $.post("/admin/role/setPermission",{'permissions':permissions,'roleId':roleId},function(e){
                layer.msg('授权成功');
                layer.closeAll('page'); //关闭所有页面层
            })

        });


    });




</script>
</body>
</html>