<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/fragment/common::head"></head>
<body>
<header th:replace="blog/fragment/header::header"></header>
<div th:replace="blog/fragment/common::blog_bgcover"></div>
<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">

                        <div class="statis">
                            <span class="count"><a href="/" th:text="${articleCount}">14</a></span>
                            <span class="name">文章</span>
                        </div>

                        <div class="statis">
                            <span class="count"><a href="/categories" th:text="${categoriesCount}">5</a></span>
                            <span class="name">分类</span>
                        </div>

                        <div class="statis">
                            <span class="count"><a href="/tags" th:text="${tagsCount}">9</a></span>
                            <span class="name">标签</span>
                        </div>

                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/medias/avatar.jpg" alt="王明晓"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">

                                    <div class="statis">
                                        <span class="count"><a href="/">14</a></span>
                                        <span class="name">文章</span>
                                    </div>

                                    <div class="statis">
                                        <span class="count"><a href="/categories">5</a></span>
                                        <span class="name">分类</span>
                                    </div>

                                    <div class="statis">
                                        <span class="count"><a href="/tags">9</a></span>
                                        <span class="name">标签</span>
                                    </div>

                                </div>
                                <div class="title">王明晓</div>
                                <div class="career">一条有梦想的咸鱼</div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">
                            <a href="https://github.com/wangmx996" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub" data-position="top" data-delay="50">
                                <i class="fab fa-github"></i>
                            </a>


                            <a href="mailto:wangmx_he@163.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top" data-delay="50">
                                <i class="fas fa-envelope-open"></i>
                            </a>


                            <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=1130467636" class="tooltipped" target="_blank" data-tooltip="QQ联系我: 1130467636" data-position="top" data-delay="50">
                                <i class="fab fa-qq"></i>
                            </a>


                            <a href="https://weibo.com/u/7075147314?nick=大天才小花花&is_all=1" class="tooltipped" target="_blank" data-tooltip="关注我的微博: https://weibo.com/p/1005057075147314" data-position="top" data-delay="50">
                                <i class="fab fa-weibo"></i>
                            </a>
                            <!--
                            <a href="https://www.zhihu.com/xxx" class="tooltipped" target="_blank" data-tooltip="关注我的知乎: https://www.zhihu.com/xxx" data-position="top" data-delay="50">
                                <i class="fab fa-zhihu1">知</i>
                            </a>

                            <a href="https://www.zhihu.com/xxx" class="tooltipped" target="_blank" data-tooltip="关注我的知乎: https://www.zhihu.com/xxx" data-position="top" data-delay="50">
                                <i class="fab fa-weixin"></i>
                            </a>
                             -->
                        </div>
                    </div>
                </div>

                <div class="introduction center-align" data-aos="fade-up">
                    梦想还是要有的，万一实现了呢！！！
                </div>


                <div style="margin-left: 100px">
                    <h3>个人信息</h3>
                    <ul>
                        <li>学历：本科</li>
                        <li>毕业院校：河北师范大学</li>
                        <li>所在地：河北石家庄</li>
                        <li>职位：Java开发工程师</li>

                    </ul>

                </div>
            </div>

        </div>
        <!--
        <div class="card">
            <div class="card-content">
                <div class="card-content article-card-content">
                    <div class="title center-align" data-aos="zoom-in-up">
                        <i class="fa fa-address-book"></i>&nbsp;&nbsp;个人简历
                     </div>
                        <div id="articleContent" data-aos="fade-up">

                        </div>
                  </div>
             </div>
       </div>
       
       -->
      
    </div>
</main>

<footer th:replace="blog/fragment/footer::footer"></footer>

<div th:replace="blog/fragment/common::blog_tools"></div>

</body>

</html>
