<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/fragment/common::head"></head>
<body>
<header th:replace="blog/fragment/header::header"></header>
<div th:replace="blog/fragment/common::blog_bgcover"></div>
<main class="content">

    <div id="aboutme" class="container about-container">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="post-statis col l4 hide-on-med-and-down" data-aos="zoom-in-right">

                        <div class="statis">
                            <span class="count"><a href="/">14</a></span>
                            <span class="name">文章</span>
                        </div>

                        <div class="statis">
                            <span class="count"><a href="/categories">5</a></span>
                            <span class="name">分类</span>
                        </div>

                        <div class="statis">
                            <span class="count"><a href="/tags">9</a></span>
                            <span class="name">标签</span>
                        </div>

                    </div>
                    <div class="col s12 m12 l4">
                        <div class="profile center-align">
                            <div class="avatar">
                                <img src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/medias/avatar.jpg" alt="王明晓"
                                     class="circle responsive-img avatar-img">
                            </div>
                            <div class="author">
                                <div class="post-statis hide-on-large-only" data-aos="zoom-in-right">

                                    <div class="statis">
                                        <span class="count"><a href="/">14</a></span>
                                        <span class="name">文章</span>
                                    </div>

                                    <div class="statis">
                                        <span class="count"><a href="/categories">5</a></span>
                                        <span class="name">分类</span>
                                    </div>

                                    <div class="statis">
                                        <span class="count"><a href="/tags">9</a></span>
                                        <span class="name">标签</span>
                                    </div>

                                </div>
                                <div class="title">王明晓</div>
                                <div class="career">Software Engineer</div>
                                <div class="social-link hide-on-large-only" data-aos="zoom-in-left">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l4 hide-on-med-and-down" data-aos="zoom-in-left">
                        <div class="social-link">

                        </div>
                    </div>
                </div>

                <div class="introduction center-align" data-aos="fade-up">If you wish to succeed, you should use persistence as your good friend, experience as your reference, prudence as your brother and hope as your sentry.</div>
                <div>
                    <h3>个人信息</h3>
                    <ul>
                        <li>学历：本科</li>
                        <li>aaa</li>
                        <li>aaa</li><li>aaa</li>

                        <li>aaa</li>
                        <li>aaa</li>
                        <li>aaa</li><li>aaa</li>
                        <li>aaa</li>



                    </ul>
                </div>
            </div>

        </div>
        <!--
        <div class="card">
            <div class="card-content">
                <div class="card-content article-card-content">
                    <div class="title center-align" data-aos="zoom-in-up">
                        <i class="fa fa-address-book"></i>&nbsp;&nbsp;个人简历
                     </div>
                        <div id="articleContent" data-aos="fade-up">

                        </div>
                  </div>
             </div>
       </div>
       
       -->
      
    </div>
</main>

<footer th:replace="blog/fragment/footer::footer"></footer>

<div th:replace="blog/fragment/common::blog_tools"></div>

</body>

</html>
