<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/fragment/common::head"></head>


<body>

    <header th:replace="blog/fragment/header::header"></header>

    <div th:replace="blog/fragment/common::blog_bgcover"></div>

    <main class="content">

        <div class="container archive-calendar">
            <div class="card">
                <div id="post-calendar" class="card-content"></div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/libs/echarts/echarts.min.js"></script>
        <script type="text/javascript" th:inline="javascript">

            let myChart = echarts.init(document.getElementById('post-calendar'));

            let blogCalendar = [[${blogCalendar}]];

            let option = {
                title: {
                    top: 0,
                    text: '文章日历',
                    left: 'center',
                    textStyle: {
                        color: '#3C4858'
                    }
                },
                tooltip: {
                    padding: 10,
                    backgroundColor: '#555',
                    borderColor: '#777',
                    borderWidth: 1,
                    formatter: function (obj) {
                        let value = obj.value;
                        return '<div style="font-size: 14px;">' + value[0] + '：' + value[1] + '</div>';
                    }
                },
                visualMap: {
                    show: true,
                    showLabel: true,
                    categories: [0, 1, 2, 3, 4],
                    calculable: true,
                    inRange: {
                        symbol: 'rect',
                        color: ['#ebedf0', '#c6e48b', '#7bc96f', '#239a3b', '#196127']
                    },
                    itemWidth: 12,
                    itemHeight: 12,
                    orient: 'horizontal',
                    left: 'center',
                    bottom: 0
                },
                calendar: [{
                    left: 'center',
                    range: [blogCalendar.lastYear, blogCalendar.today],
                    cellSize: [13, 13],
                    splitLine: {
                        show: false
                    },
                    itemStyle: {
                        color: '#196127',
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    yearLabel: {
                        show: false
                    },
                    monthLabel: {
                        nameMap: 'cn',
                        fontSize: 11
                    },
                    dayLabel: {
                        formatter: '{start}  1st',
                        nameMap: 'cn',
                        fontSize: 11
                    }
                }],
                series: [{
                    type: 'heatmap',
                    coordinateSystem: 'calendar',
                    calendarIndex: 0,
                    data: blogCalendar.calendarInfo
                }]

            };

            myChart.setOption(option);
        </script>

        <div id="cd-timeline" class="container">

            <div class="cd-timeline-block" th:each="articleVO,key:${pageInfo.getList()}">

                <div class="cd-timeline-img year" data-aos="zoom-in-up" th:style="'display:'+${articleVO.year==null?'none':''}">
                    <a href="/archives/2020" th:text="${articleVO.year}">2020</a>
                </div>

                <div class="cd-timeline-img month" data-aos="zoom-in-up" th:style="'display:'+${articleVO.month==null?'none':''}">
                    <a href="/archives/2020/07" th:text="${articleVO.month}">07</a>
                </div>

                <div class="cd-timeline-img day" data-aos="zoom-in-up">
                    <span th:text="${articleVO.day}">03</span>
                </div>

                <article class="cd-timeline-content" data-aos="fade-up">
                    <div class="article col s12 m6">
                        <div class="card">
                            <a th:href="${articleVO.articleUrl}">
                                <div class="card-image">

                                    <img th:src="${articleVO.articleImage}" class="responsive-img" th:alt="${articleVO.articleTitle}">

                                    <span class="card-title" th:text="${articleVO.articleTitle}">Nginx入门</span>
                                </div>
                            </a>
                            <div class="card-content article-content">
                                <div class="summary block-with-text" th:text="${articleVO.articleDigest}">

                                </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="far fa-clock fa-fw icon-date"></i>[[${articleVO.createDate}]]
                                    </span>
                                    <span class="publish-author">
                                        <i class="fas fa-bookmark fa-fw icon-category"></i>
                                        <a href="/categories/Nginx/" class="post-category">[[${articleVO.categories.name}]]</a>
                                    </span>
                                </div>
                            </div>

                            <div class="card-action article-tags">

                                <a th:each="tags,key : ${articleVO.tagsList}" th:href="'/tags/'+${tags.id}" >
                                    <span class="chip bg-color" th:text="${tags.name}"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                </article>
            </div>
        </div>

    </main>

    <!-- 分页 -->
    <div th:replace="blog/fragment/common::blog_paging"></div>

    <footer th:replace="blog/fragment/footer::footer"></footer>

    <div th:replace="blog/fragment/common::blog_tools"></div>

</body>

</html>
