<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">


<head th:replace="blog/fragment/common::head"></head>

<body>

<header th:replace="blog/fragment/header::header"></header>
<div th:replace="blog/fragment/common::blog_bgcover"></div>

<main class="content">

    <div id="category-cloud" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-bookmark"></i>&nbsp;&nbsp;文章分类
                </div>
                <div class="tag-chips">

                    <a href="/categories/Docker/" title="Docker: 9">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                          style="background-color: #F9EBEA;">Docker
                        <span class="tag-length">9</span>
                    </span>
                    </a>

                    <a href="/categories/Nginx/" title="Nginx: 1">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                          style="background-color: #F5EEF8;">Nginx
                        <span class="tag-length">1</span>
                    </span>
                    </a>

                    <a href="/categories/Spring/" title="Spring: 4">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                          style="background-color: #D5F5E3;">Spring
                        <span class="tag-length">4</span>
                    </span>
                    </a>

                    <a href="/categories/Spring/SpringCloud/" title="SpringCloud: 2">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                          style="background-color: #E8F8F5;">SpringCloud
                        <span class="tag-length">2</span>
                    </span>
                    </a>

                    <a href="/categories/Spring/SpringBoot/" title="SpringBoot: 2">
                    <span class="chip center-align waves-effect waves-light
                             chip-default "
                          style="background-color: #FEF9E7;">SpringBoot
                        <span class="tag-length">2</span>
                    </span>
                    </a>

                </div>
            </div>
        </div>
    </div>


    <style type="text/css">
        #category-radar {
            width: 100%;
            height: 360px;
        }
    </style>

    <div class="container" data-aos="fade-up">
        <div class="card">
            <div id="category-radar" class="card-content">

            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/libs/echarts/echarts.min.js"></script>
    <script type="text/javascript">
        let radarChart = echarts.init(document.getElementById('category-radar'));

        let option = {
            title: {
                left: 'center',
                text: '文章分类雷达图',
                textStyle: {
                    fontWeight: 500,
                    fontSize: 22
                }
            },
            tooltip: {},
            radar: {
                name: {
                    textStyle: {
                        color: '#3C4858'
                    }
                },
                indicator: [{"name":"Docker","max":10},{"name":"Nginx","max":10},{"name":"Spring","max":10},{"name":"SpringCloud","max":10},{"name":"SpringBoot","max":10}],
                nameGap: 5,
                center: ['50%','55%'],
                radius: '66%'
            },
            series: [{
                type: 'radar',
                color: ['#3ecf8e'],
                itemStyle: {normal: {areaStyle: {type: 'default'}}},
                data : [
                    {
                        value : [9,1,4,2,2],
                        name : '文章分类数量'
                    }
                ]
            }]
        };

        radarChart.setOption(option);
    </script>

</main>

<footer th:replace="blog/fragment/footer::footer"></footer>

<div th:replace="blog/fragment/common::blog_tools"></div>


</body>

</html>
