<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/fragment/common::head"></head>
<body>

    <header th:replace="blog/fragment/header::header"></header>

    <div th:replace="blog/fragment/common::blog_bgcover"></div>

<main class="content">
    <div id="contact" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-comments"></i>&nbsp;&nbsp;留言板
                </div>
                
            </div>
        </div>
        <div class="card">
<style>
    .mvaline-card {
        margin: 1.5rem auto;
    }

    .mvaline-card .card-content {
        padding: 20px 20px 5px 20px;
    }
</style>

<div class="card mvaline-card" data-aos="fade-up">
    <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">
        <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
        <span>评论</span>
    </div>
    <div id="mvcomments" class="card-content" style="display: grid">
    </div>
</div>
<!--
<script src="https://cdn.jsdelivr.net/npm/minivaline/dist/MiniValine.min.js"></script>


<script>
    new MiniValine({
        el: '#mvcomments',
        appId: 'EV0i5nPN3uLt0RQIfKFRKG26-gzGzoHsz',
        appKey: 'zfeOL0VKn6spX8tCSXNJBp66',
        mode: 'DesertsP',
        placeholder: 'Write a Comment',
        pathname: window.location.pathname,
        lang: '',
        adminEmailMd5: 'de8a7aa53d07e6b6bceb45c64027763d',
        tagMeta: ["管理员", "小伙伴", "访客"],
        master: ["de8a7aa53d07e6b6bceb45c64027763d"],
        friends: ["b5bd5d836c7a0091aa8473e79ed4c25e", "adb7d1cd192658a55c0ad22a3309cecf", "3ce1e6c77b4910f1871106cb30dc62b0", "cfce8dc43725cc14ffcd9fb4892d5bfc"],
        math: true,
        md: true,
        enableQQ: false,
        NoRecordIP: false,
        visitor: true,
        maxNest: 6,
        pageSize: 6,
        serverURLs: '',
        emoticonUrl: ["https://cdn.jsdelivr.net/npm/alus@latest", "https://cdn.jsdelivr.net/gh/MiniValine/qq@latest", "https://cdn.jsdelivr.net/gh/MiniValine/Bilibilis@latest", "https://cdn.jsdelivr.net/gh/MiniValine/tieba@latest", "https://cdn.jsdelivr.net/gh/MiniValine/twemoji@latest", "https://cdn.jsdelivr.net/gh/MiniValine/weibo@latest"],
    });
</script>
-->
        <script src ="https://unpkg.com/minivaline/dist/MiniValine.min.js"> </script>
        <script>
              new  MiniValine({
                el:'#mvcomments',
                appId: 'EV0i5nPN3uLt0RQIfKFRKG26-gzGzoHsz',
                appKey: 'zfeOL0VKn6spX8tCSXNJBp66',
                mode: 'DesertsP'
              })
        </script>
            
        </div>
    </div>
</main>


    <footer th:replace="blog/fragment/footer::footer"></footer>
    <div th:replace="blog/fragment/common::blog_tools"></div>
</body>

</html>
