<!DOCTYPE HTML>

<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/fragment/common::head"></head>

<body>

<header th:replace="blog/fragment/header::header"></header>


<!-- 首页展示 -->
<div class="carousel carousel-slider center index-cover" data-indicators="true" style="margin-top: -64px;">
    
    <div class="carousel-item red white-text bg-cover about-cover">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                    <div class="brand">
                        <div class="title center-align" style="font-family: 楷体;">
                                晓&静
                        </div>
                        <div class="description center-align">
                            <span id="jinrishici-sentence" class="diy-font">正在加载今日诗词....</span>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                // 每天切换 banner 图.  Switch banner image every day.
                var bannerUrl = "https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/medias/banner/" + new Date().getDay() + '.jpg';
                $('.bg-cover').css('background-image', 'url(' + bannerUrl + ')');
            </script>

            <div class="cover-btns">
                <a href="#indexCard" class="waves-effect waves-light btn">
                    <i class="fa fa-angle-double-down"></i>开始阅读
                </a>
            </div>
            <!-- 社交 -->
            <div class="cover-social-link"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        let coverSlider = $('.carousel');
        //用户触摸轮播自动 restartPlay 是否生效
        let initUserPressedOrDraggedActive = false
        //用户触摸轮播自动 restartPlay
        function initUserPressedOrDragged(instance) {
            setInterval(() => {
                if (instance.pressed || instance.dragged) {
                    restartPlay()
                }
            }, 1000)
        }

        coverSlider.carousel({
            duration: Number('120'),
            fullWidth: true,
            indicators: 'false' === 'true',
            onCycleTo() {
                if (!initUserPressedOrDraggedActive) {
                    // console.log('initUserPressedOrDraggedActive')
                    initUserPressedOrDragged(this)
                    initUserPressedOrDraggedActive = true
                }
            },
        })

        let carouselIntervalId;
        
        function restartPlay() {
            
        };

    });
</script>


    <main class="content">
        <!-- 推荐文章 -->
        <div id="indexCard" class="index-card">
            <div class="container ">
                <div class="card">
                    <div class="card-content">
                        <div id="recommend-sections" class="recommend">
                            <div class="title"><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;推荐文章</div>
                            <div class="row">
                                <div class="col s12" >
                                    <div class="post-card">
                                        <div class="post-body">
                                            <div class="post-categories">
                                                <a href="/categories/Docker/" class="category">Docker</a>
                                            </div>
                                            <a href="/2020/06/26/docker/docker-ru-men-yi-xu-ni-hua-ji-zhu/">
                                                <h3 class="post-title">Docker入门：（一）虚拟化技术</h3>
                                            </a>
                                            <p class="post-description">什么是虚拟化虚拟化技术即Virtualization，是指通过虚拟化技术将一台计算机虚拟为多台逻辑计算机。在一台计算机上同时运行多个逻辑计算机，每个逻辑计算机可运行不同的</p>
                                            <a href="/2020/06/26/docker/docker-ru-men-yi-xu-ni-hua-ji-zhu/" class="read-more btn waves-effect waves-light" style="background: linear-gradient(to right, #FF5E3A 0%, #FF2A68 100%)" target="_blank">
                                                <i class="icon far fa-eye fa-fw"></i>阅读更多
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 文章列表 -->
        <article th:replace="blog/fragment/common::blog_articles"></article>
    </main>

    <div th:replace="blog/fragment/common::blog_paging"></div>

    <header th:replace="blog/fragment/footer::footer"></header>

    <div th:replace="blog/fragment/common::blog_tools"></div>

</body>

</html>
