<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>爱情足迹</title>
  <link rel="stylesheet" th:href="@{/static/css/love_track.css}">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1185766_qoose5hzvfd.css">

  
</head>

<body>
  <div class="timeline">
  <div class="entry">
    <div class="title">
      <h3>2017-07-07</h3>

    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>

    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2010 - Present</h3>
    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>

    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2009 - 2010</h3>

    </div>
    <div class="body">
      <p>Voluptatibus veniam ea reprehenderit atque reiciendis non laborum adipisci ipsa pariatur omnis.</p>

    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h3>2017-01-19</h3>
    </div>
    <div class="body">
      <p>我们相识了</p>
    </div>
  </div>

</div>
  
  
</body>
</html>
