<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/prefecture.css}">
    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}"  media="all">
</head>
<body>
    <div class="container">

        <div th:replace="blog/fragment/left::left"></div>

        <div class="right" style="margin-left:25px">
            <div class="content" >

                <div class="blogs" data-scroll-reveal="enter bottom over 1s" th:each="article,stat:${articles}">

                    <h3 class="blogtitle"><a href="/static" target="_blank" th:text="${article.articleTitle}"></a></h3>
                    <p class="blogtext" th:text="${article.articleDigest}"></p>
                    <div class="bloginfo">
                        <ul>
                            <li class="author" th:text="${article.user.name}">XXX</li>
                            <li class="lmname" th:text="${article.categories.name}"></li>
                            <li class="timer" th:text="${article.createDate}"></li>
                            <li class="view" th:text="${article.readCount}">已阅读</li>
                            <li class="like" th:text="${article.likes}">9999</li>
                        </ul>
                    </div>
                </div>
                <div id="demo1"></div>
            </div>

        </div>

    </div>
    <script th:src="@{/admin/layui/layui.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
                , layer = layui.layer;

            //总页数低于页码总数
            laypage.render({
                elem: 'demo0'
                , count: 50 //数据总数
            });

            //总页数大于页码总数
            laypage.render({
                elem: 'demo1'
                , count: 70 //数据总数
                , jump: function (obj) {
                    console.log(obj)
                }
            });
        })
    </script>
</body>
</html>