<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head th:replace="blog/fragment/common::head"></head>

<body>

    <header th:replace="blog/fragment/header::header"></header>
    <div th:replace="blog/fragment/common::blog_bgcover"></div>

<main class="content">
    <div id="tags" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    <i class="fas fa-tags"></i>&nbsp;&nbsp;文章标签
                </div>
                <div class="tag-chips">
                    <a th:href="${tags.link}" th:each="tags,index:${tagsList}" th:title="${tags.text}+':'+${tags.weight}">
                        <span class="chip center-align waves-effect waves-light
                                 chip-default "
                                th:data-tagname="${tags.text}" th:style="'background-color:' + ${tags.color} + ';'">[[${tags.text}]]
                            <span class="tag-length">[[${tags.weight}]]</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/libs/jqcloud/jqcloud.css">
    <style type="text/css">
        #tag-wordcloud {
            width: 100%;
            height: 300px;
        }
    </style>

    <div class="container" data-aos="fade-up" th:style="'display:'+${flag?'none':''}">
        <div class="card">
            <div id="tag-wordcloud" class="card-content"></div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/libs/jqcloud/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript" th:inline="javascript">
        let tagsList = [[${tagsList}]];
        $('#tag-wordcloud').jQCloud(tagsList, {
            autoResize: true
        });
    </script>a

    <article id="articles" class="container articles">
        <div class="row tags-posts">

            <div class="article tag-post col s12 m6 l4" data-tags="Docker, Dockerfile" data-aos="fade-up" th:each="article,index:${articleList}">
                <div class="card">
                    <a th:href="${article.articleUrl}">
                        <div class="card-image tag-image">
                            <img th:src="${article.articleImage}" class="responsive-img" th:alt="${article.articleTitle}">
                            <span class="card-title" th:text="${article.articleTitle}"></span>
                        </div>
                    </a>
                    <div class="card-content article-content">
                        <div class="publish-info">
                            <span class="publish-date">
                                <i class="far fa-clock fa-fw icon-date"></i>[[${article.createDate}]]
                            </span>
                            <span class="publish-author">

                                <i class="fas fa-bookmark fa-fw icon-category"></i>

                                <a th:href="'/categories/'+${article.categories.id}" class="post-category">
                                [[${article.categories.name}]]
                                </a>

                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </article>
</main>

    <footer th:replace="blog/fragment/footer::footer"></footer>

    <div th:replace="blog/fragment/common::blog_tools"></div>
</body>

</html>
