<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" th:href="@{/admin/layui/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/admin/layui/css/admin.css}" media="all">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1624535_zjv03gn2omk.css">

    <script th:src="@{/js/jquery-2.0.3.min.js}"></script>
    <script th:src="@{/admin/layui/layui.js}"></script>
    <script th:src="@{/admin/js/index.js}" data-main="home"></script>


    <title>管理后台</title>
</head>



<!-- 表头菜单 -->
<header class="navbar-fixed" th:fragment="header">
    <nav id="headNav" class="bg-color nav-transparent">
        <div id="navContainer" class="nav-wrapper container">
            <div class="brand-logo">
                <a href="/" class="waves-effect waves-light">
                    <img src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/medias/logo.png" class="logo-img" alt="LOGO">
                    <span class="logo-span" style="font-family: 楷体;">晓&amp;静</span>
                </a>
            </div>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger button-collapse"><i class="fas fa-bars"></i></a>

            <ul class="right nav-menu">
                <li class="hide-on-med-and-down nav-item">

                    <a href="/" class="waves-effect waves-light">

                        <i class="fas fa-home" style="zoom: 0.6;"></i>

                        <span>首页</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/tags" class="waves-effect waves-light">

                        <i class="fas fa-tags" style="zoom: 0.6;"></i>

                        <span>标签</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/categories" class="waves-effect waves-light">

                        <i class="fas fa-bookmark" style="zoom: 0.6;"></i>

                        <span>分类</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/archives" class="waves-effect waves-light">

                        <i class="fas fa-archive" style="zoom: 0.6;"></i>

                        <span>归档</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/about" class="waves-effect waves-light">

                        <i class="fas fa-user-circle" style="zoom: 0.6;"></i>

                        <span>关于</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/contact" class="waves-effect waves-light">

                        <i class="fas fa-comments" style="zoom: 0.6;"></i>

                        <span>留言板</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/box" class="waves-effect waves-light">

                        <i class="fas fa-address-book" style="zoom: 0.6;"></i>

                        <span>工具箱</span>
                    </a>

                </li>

                <li class="hide-on-med-and-down nav-item">

                    <a href="/friends" class="waves-effect waves-light">

                        <i class="fas fa-address-book" style="zoom: 0.6;"></i>

                        <span>友情链接</span>
                    </a>

                </li>

                <li>
                    <a href="#searchModal" class="modal-trigger waves-effect waves-light">
                        <i id="searchIcon" class="fas fa-search" title="搜索" style="zoom: 0.85;"></i>
                    </a>
                </li>
            </ul>


            <div id="mobile-nav" class="side-nav sidenav">

                <div class="mobile-head bg-color">

                    <img src="https://cdn.jsdelivr.net/gh/wangmx996/wangmx996.github.io/medias/logo.png" class="logo-img circle responsive-img">

                    <div class="logo-name">晓&amp;静</div>
                    <div class="logo-desc">
                        Never really desperate, only the lost of the soul.
                    </div>
                </div>

                <ul class="menu-list mobile-menu-list">

                    <li class="m-nav-item">

                        <a href="/" class="waves-effect waves-light">
                            <i class="fa-fw fas fa-home"></i>首页
                        </a>

                    </li>

                    <li class="m-nav-item">

                        <a href="/tags" class="waves-effect waves-light">

                            <i class="fa-fw fas fa-tags"></i>标签
                        </a>

                    </li>

                    <li class="m-nav-item">

                        <a href="/categories" class="waves-effect waves-light">

                            <i class="fa-fw fas fa-bookmark"></i>

                            分类
                        </a>

                    </li>

                    <li class="m-nav-item">

                        <a href="/archives" class="waves-effect waves-light">

                            <i class="fa-fw fas fa-archive"></i>

                            归档
                        </a>

                    </li>

                    <li class="m-nav-item">

                        <a href="/about" class="waves-effect waves-light">

                            <i class="fa-fw fas fa-user-circle"></i>

                            关于
                        </a>

                    </li>

                    <li class="m-nav-item">

                        <a href="/contact" class="waves-effect waves-light">

                            <i class="fa-fw fas fa-comments"></i>

                            留言板
                        </a>

                    </li>

                    <li class="m-nav-item">

                        <a href="/friends" class="waves-effect waves-light">

                            <i class="fa-fw fas fa-address-book"></i>

                            友情链接
                        </a>

                    </li>


                </ul>
            </div>
        </div>
    </nav>

</header>