<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">


<!-- 博客个人页面左侧展示栏 -->
<div class="left" th:fragment="left">
    <div class="left-header"></div>
<div class="left-content" >
    <div>
        <a href="/static" class="profilepic">
            <img th:src="@{/images/gallery/image-1.jpg}" class="animated zoomIn" >
        </a>
        <hgroup>
            <h1 class="header-author"><a href="#">晓</a></h1>
        </hgroup>
        <p class="header-subtitle">爱生活，爱编码</p>
        <input placeholder="search..." class="search">
        <nav class="header-menu">
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/classify">分类</a></li>
                <li><a href="/archive">归档</a></li>
                <li><a href="/tagsCloud">标签云</a></li>
                <li><a href="/aboutMe">关于我</a></li>
            </ul>
        </nav>
    </div>

</div>
</div>