.blog_list { overflow: hidden;border-radius: 5px; margin-bottom: 20px; padding: 20px; background: #FFF; -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; position: relative }
.blog_list:before { position: absolute; content: ""; width: 5px; height: 26px; background: #3690cf; left: 0; top: 20px }
.blog_list .blog_pic { float: left; width: 30%; max-height: 170px; margin-right: 20px; display: block; overflow: hidden; }
.blog_list .blog_pic img { width: 100%; height: auto; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; margin-bottom: 10px }
.blog_list .blog_pic :hover img { transform: scale(1.1) }
.blog_list .blog_title { margin: 0; font-size: 20px; overflow: hidden; }
.blog_list:hover .blog_title a { color: #3690cf; }

.blog_list .blog_tags li {

	font-size: 12px;
	padding: 0px;
	margin: 0 10px 0 0;
	color: #748594;
	line-height: 1.5;
	display: inline-block;
}



.blog_list .blog_text { font-size: 14px; color: #566573; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; margin-top: 10px }
.blog_list .blog_info { overflow: hidden; margin-top: 10px; display: block }
.blog_list .blog_info li { float: left; font-size: 12px; padding: 0px; margin: 0 15px 0 0; color: #748594; line-height: 1.5; display: inline-block; }
.blog_list .blog_info li a { color: #748594; }
.blog_list .blog_info li a:hover { color: #000 }
.blog_list .blog_info .author { background: url(../images/auicon.jpg) no-repeat 0 0 }
.blog_list .blog_info .lmname { background: url(../images/auicon.jpg) no-repeat top -23px left; }
.blog_list .blog_info .timer { background: url(../images/auicon.jpg) no-repeat top -44px left; }
.blog_list .blog_info .view { background: url(../images/auicon.jpg) no-repeat top -64px left; }
.blog_list .blog_info .like { background: url(../images/auicon.jpg) no-repeat top -85px left; }
.blog_list:hover:before {
	background:#9c9;
}
.blog_list a {
	text-decoration: none;
	color: #444;
}