html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

.container{
	display: flex;
	flex-direction: row;
}

.left {
	width: 400px;
}

.left-header {
	width: 100%;
	height: 200px;
	background-color: #000;

	opacity: 0.7;
}
.left-content {
	width: 76%;
	text-align: center;
	margin: -64px auto 0;
}
.left-content a{
	color: #696969;
}
.left-content a:hover {
	color: #b0a0aa;
}
.profilepic {
	text-align: center;
	display: block;
	border: 5px solid #fff;
	border-radius: 50%;
	width: 128px;
	height: 128px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background: #88acdb;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	text-align: center;
}

.profilepic img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	-ms-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-delay: 0.3s;
}
.profilepic:hover {
	background: #fff;
	border: 5px solid #88acdb;
	-webkit-box-shadow: 0 0 1.5em #88acdb;
	box-shadow: 0 0 1.5em #88acdb;
	-webkit-animation: profilepic 0.15s linear infinite alternate;
	-moz-animation: profilepic 0.15s linear infinite alternate;
	-ms-animation: profilepic 0.15s linear infinite alternate;
	animation: profilepic 0.15s linear infinite alternate;
	-webkit-animation: profilepic 0.15s linear infinite alternate;
}


.header-author {
	text-align: center;
	margin: 13px 0;
	font-family: 楷体;
	font-size: 30px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
}
.header-subtitle {
	text-align: center;
	color: #999;
	font-size: 0.875rem;
	line-height: 1.75;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.search {
	width: 68%;
	height: 28px;
	margin-top: 10px;
	padding: 0;
	font-family: inherit;
	border: 2px solid transparent;
	border-bottom: 2px solid #d3d3d3;
	border-radius: 2px;
	opacity: 0.65;
	background: none;
}
.search:hover {
	border: 2px solid #d3d3d3;
	opacity: 1;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.header-menu {
	margin-top: 15px;
	font-weight: 800;
	line-height: 1.75rem;
	font-family: inherit;
	cursor: pointer;
	text-transform: uppercase;
	float: none;
	min-height: 5.25rem;
	max-height: 8.75rem;
	overflow: visible;
	text-align: center;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline-width: 0;
	color: #258fb8;
	outline: none;
}


<!-- center -->
.right{
	display: flex;
	flex-direction: row;
	width: 100%
}

.content{
	width:73%;
}



@media only screen and (max-width: 991px){
	.container{
		flex-direction: column;
	}
	.left {
		width: 100%;
	}
	.header-menu ul li{
		display: inline-block;
	}
}

.blogs { overflow: hidden; margin-bottom: 20px; padding: 20px; background: #FFF; -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1); -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; position: relative }
.blogs:before { position: absolute; content: ""; width: 5px; height: 26px; background: #3690cf; left: 0; top: 20px }
.blogs .blogpic { float: left; width: 30%; max-height: 170px; margin-right: 20px; display: block; overflow: hidden; }
.blogs .blogpic img { width: 100%; height: auto; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; margin-bottom: 10px }
.blogs .blogpic :hover img { transform: scale(1.1) }
.blogs .blogtitle { margin: 0 0 10px 0; font-size: 20px; overflow: hidden; }
.blogs:hover .blogtitle a { color: #3690cf; }
.blogs .blogtext { font-size: 14px; color: #566573; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; margin-top: 20px }
.blogs .bloginfo { overflow: hidden; margin-top: 30px; display: block }
.blogs .bloginfo li { float: left; font-size: 12px; padding: 0 0 0 20px; margin: 0 15px 0 0; color: #748594; line-height: 1.5; display: inline-block; }
.blogs .bloginfo li a { color: #748594; }
.blogs .bloginfo li a:hover { color: #000 }
.blogs .bloginfo .author { background: url(../images/auicon.jpg) no-repeat 0 0 }
.blogs .bloginfo .lmname { background: url(../images/auicon.jpg) no-repeat top -23px left; }
.blogs .bloginfo .timer { background: url(../images/auicon.jpg) no-repeat top -44px left; }
.blogs .bloginfo .view { background: url(../images/auicon.jpg) no-repeat top -64px left; }
.blogs .bloginfo .like { background: url(../images/auicon.jpg) no-repeat top -85px left; }
.blogs:hover:before {
	background:#9c9;
}
.blogs a {
	text-decoration: none;
	color: #444;
}