<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/static/css/archive.css}">
    <div class="blog_content archive">

        <div th:each="archiveVO,key : ${archiveVOList}">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend th:text="${archiveVO.year}">2018</legend>
            </fieldset>
            <ul class="layui-timeline" th:each="archive,key : ${archiveVO.archives}">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title" th:text="${archive.createDate}">8月18日</h3>
                        <p th:each="article,key : ${archive.articles}">
                            <a href="#" th:text="${article.articleTitle}"></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</html>