<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/static/css/classify.css}">
    <div class="blog_content classify">
        <div class="content">
            <div class="classify_model" th:each="classify,stat:${classifyList}" >
                <div class="classify_name" th:text="${classify.categoriesName}" ></div>
                <ul class="classify_article" th:each="article,stat:${classify.articles}" >

                    <li><a class="article_title" target="_blank"
                           th:href="'/blog/detail/'+${article.id}" th:text="${article.articleTitle}"></a></li>
                </ul>
            </div>
        </div>
    </div>

</html>