<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.blog.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.xiao.blog.vo.ArticleVO" >

    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="article_digest" property="articleDigest" jdbcType="VARCHAR" />
    <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
    <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" />
    <result column="article_html_content" property="articleHtmlContent" jdbcType="LONGVARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="likes" property="likes" jdbcType="INTEGER" />
    <result column="read_count" property="readCount" jdbcType="INTEGER" />
    <result column="top" property="top" jdbcType="INTEGER" />
    <result column="editor_type" property="editorType" jdbcType="INTEGER" />
    <result column="draft" property="draft" jdbcType="INTEGER" />
    <result column="privacy" property="privacy" jdbcType="INTEGER" />

    <association property="user" javaType="com.xiao.blog.model.User">
      <id column="user_id" property="id" jdbcType="INTEGER" />
      <result column="name" property="name" jdbcType="VARCHAR" />
    </association>

    <association property="lastArticle" javaType="com.xiao.blog.model.Article">
      <id column="last_article_id" property="id" jdbcType="INTEGER" />
      <result column="last_article_title" property="articleTitle" jdbcType="VARCHAR" />
    </association>

    <association property="nextArticle" javaType="com.xiao.blog.model.Article">
      <id column="next_article_id" property="id" jdbcType="INTEGER" />
      <result column="next_article_title" property="articleTitle" jdbcType="VARCHAR" />
    </association>

    <association property="categories" javaType="com.xiao.blog.model.Categories">
      <id column="categories_id" property="id" jdbcType="INTEGER" />
      <result column="categories_name" property="name" jdbcType="VARCHAR" />
    </association>

    <collection property="tagsList" ofType="com.xiao.blog.model.Tags">
      <id column="tags_id" property="id" jdbcType="INTEGER" />
      <result column="tags_name" property="name" jdbcType="VARCHAR" />
    </collection>

  </resultMap>

  <!--新增博客-->
  <insert id="insert" parameterType="com.xiao.blog.model.Article" >

    insert into blog_article (
        id,
        article_digest,
        article_title,
        create_date,
        last_article_id,
        next_article_id,
        top,
        editor_type,
        draft,
        privacy,
        article_content,
        article_html_content,
        user_id,
        categories_id
      )
    values (
        #{id,jdbcType=INTEGER},
        #{articleDigest,jdbcType=VARCHAR},
        #{articleTitle,jdbcType=VARCHAR},
        #{createDate,jdbcType=VARCHAR},
        #{lastArticleId,jdbcType=INTEGER},
        #{nextArticleId,jdbcType=INTEGER},
        #{top,jdbcType=INTEGER},
        #{editorType,jdbcType=INTEGER},
        #{draft,jdbcType=INTEGER},
        #{privacy,jdbcType=INTEGER},
        #{articleContent,jdbcType=LONGVARCHAR},
        #{articleHtmlContent,jdbcType=LONGVARCHAR},
        #{userId,jdbcType=INTEGER},
        #{categoriesId,jdbcType=INTEGER}

      )
  </insert>

  <!--根据id删除博客 -->
  <delete id="deleteArticleById" parameterType="java.lang.Integer" >
    delete from blog_article where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 修改博客-->
  <update id="updateArticleById" parameterType="com.xiao.blog.model.Article" >

    update blog_article
    set
      article_digest = #{articleDigest,jdbcType=VARCHAR},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      likes = #{likes,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=VARCHAR},
      last_article_id = #{lastArticleId,jdbcType=INTEGER},
      next_article_id = #{nextArticleId,jdbcType=INTEGER},
      top = #{top,jdbcType=INTEGER},
      editor_type = #{editorType,jdbcType=INTEGER},
      draft = #{draft,jdbcType=INTEGER},
      privacy = #{privacy,jdbcType=INTEGER},
      article_content = #{articleContent,jdbcType=LONGVARCHAR},
      article_html_content = #{articleHtmlContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--根据条件查询博客 -->
  <select id="getArticles" resultMap="BaseResultMap" parameterType="com.xiao.blog.model.Article">

    select
        article.id,
        article.article_digest,
        article.article_title,
        article.likes,
        article.read_count,
        article.create_date,
        article.update_date,
        article.top,
        article.editor_type,
        article.draft,
        article.privacy,
        article.user_id,
        u.name name,
        article.categories_id,
        categories.name categories_name,
        tags.id tags_id,
        tags.name tags_name

    from blog_article article
    left join sys_user u on article.user_id = u.id
    left join blog_categories categories on article.categories_id = categories.id
    left join blog_article_tags bat on article.id = bat.article_id
    left join blog_tags tags on tags.id = bat.tags_id
    where 1=1
      <if test="id != null">
          and article.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="categoriesId != null">
          and article.categories_id = #{categoriesId,jdbcType=INTEGER}
      </if>

      <if test="userId != null">
          and article.user_id = #{userId,jdbcType=INTEGER}
      </if>

  </select>

    <resultMap id="Archive" type="com.xiao.blog.vo.ArchiveVO" >

        <result column="createYear" property="year" jdbcType="VARCHAR" />

        <collection property="archives" ofType="com.xiao.blog.vo.Archive">
            <result column="create_date" property="createDate" jdbcType="VARCHAR" />
            <collection property="articles" ofType="com.xiao.blog.model.Article">
                <id column="id" property="id" jdbcType="INTEGER" />
                <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />
            </collection>
        </collection>


    </resultMap>
  <select id="archive" resultMap="Archive">
      select
      a.id,
      a.article_title,
      a.create_date,
      a.user_id,
      left(a.create_date,4) createYear
      from blog_article a
      left join (select create_date from blog_article GROUP BY create_date) g
      on a.create_date = g.create_date
      where a.user_id = #{userId,jdbcType=INTEGER}
      order by createYear desc,a.create_date desc

  </select>


    <resultMap id="Classify" type="com.xiao.blog.vo.ClassifyVO" >

        <result column="name" property="categoriesName" jdbcType="VARCHAR" />

        <collection property="articles" ofType="com.xiao.blog.vo.ArticleVO">

            <id column="id" property="id" jdbcType="INTEGER" />
            <result column="article_title" property="articleTitle" jdbcType="VARCHAR" />

        </collection>


    </resultMap>
    <select id="classify" resultMap="Classify">
      select
      a.id,
      a.article_title,
      c.name

      from blog_article a
      left join  blog_categories c on a.categories_id = c.id
      where a.user_id = #{userId,jdbcType=INTEGER}


  </select>

</mapper>