<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.blog.mapper.CategoriesMapper">
  <resultMap id="BaseResultMap" type="com.xiao.blog.model.Categories">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog_categories where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.xiao.blog.model.Categories">
    insert into blog_categories (id, `name`, icon) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.xiao.blog.model.Categories">
    update blog_categories set `name` = #{name,jdbcType=VARCHAR}, icon = #{icon,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, `name`, icon from blog_categories where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getCategoriesByField" parameterType="com.xiao.blog.model.Categories" resultMap="BaseResultMap">
    select
    id,
    `name`,
    icon
    from blog_categories


  </select>


  <resultMap id="CategoriesVO" type="com.xiao.blog.vo.CategoriesVO" extends="BaseResultMap">
    <result column="article_count" jdbcType="INTEGER" property="articleCount" />
  </resultMap>
  <select id="getCategoriesVOList" resultMap="CategoriesVO" >
    select
    categories.id,
    categories.name,
    (select count(article.id) from blog_article article where article.categories_id = categories.id) article_count
    from blog_categories categories
    order by article_count desc
  </select>

</mapper>