<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.blog.mapper.RelationMapper" >
  <resultMap id="BaseResultMap" type="com.xiao.blog.model.Relation" >


    <result column="article_id" property="aId" jdbcType="INTEGER" />
    <result column="label_id" property="bId" jdbcType="INTEGER" />

  </resultMap>


  <insert id="batchInsertArticleLabelRelation"  parameterType="java.util.List">

    insert into blog_article_label (article_id, label_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      ( #{item.aId,jdbcType=INTEGER}, #{item.bId,jdbcType=INTEGER} )
    </foreach>
  </insert>


</mapper>