<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiao.blog.mapper.TagsMapper" >

  <resultMap id="BaseResultMap" type="com.xiao.blog.model.Tags" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_data" property="updateData" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="com.xiao.blog.model.Tags" >
    insert into blog_tags (id, `name`, create_date,
      update_data, user_id)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR},
      #{updateData,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER})
  </insert>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_tags where id = #{id,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.xiao.blog.model.Tags" >
    update blog_tags
    set
    `name` = #{name,jdbcType=VARCHAR},
    update_data = #{updateData,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getAllTags" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, `name` from blog_tags
  </select>


  <resultMap id="TagsVO" type="com.xiao.blog.vo.TagsVO" extends="BaseResultMap">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
  </resultMap>
  <select id="getTagsVOList" resultMap="TagsVO">
    select
       tags.id,
       tags.name text,
       temp.weight
    from blog_tags tags
    left join
        (select tags_id,count(tags_id) weight from blog_article_tags GROUP BY tags_id) temp
	    on tags.id = temp.tags_id
    where temp.weight > 0
  </select>
</mapper>